## Georgian College
## Course: Data Programming
## Code: BDAT 1004
## Assignment - Problem Set 2

# Question 1

In [3]:
a = 0
def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()
a

6

# Question 2

In [4]:
def fileLenght(midterm):                      #function to read lenght of file
    try:
        infile=open(midterm, 'r')             #tries to open the file and read each line if it exists
        print(len(infile.readlines()))
        
    except FileNotFoundError:                 #instead of showing inbuilt error code, print given exception
        print('Sorry, file midterm not found.')

In [5]:
fileLenght('midterm')

Sorry, file midterm not found.

# Question 3

In [5]:
#declaring a class 
class Marsupial:
    
    def __init__(self):               #creates an empty pouch in the class Marsupial      
        self.pouch = []
        
    def put_in_pouch(self,items):      #function to add new items in the pouch created inside the class
        self.pouch.append(items)      #adds items into the pouch created inside class
        
    def pouch_contents(self):         #function to return the items added to the pouch inside class self
        return self.pouch

#using the class
m = Marsupial()         #using the function to add doll, firetruck, and kitten inside the pouch created in the class

m.put_in_pouch('doll') 
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()                #returns pouch contents

['doll', 'firetruck', 'kitten']

In [21]:
class Marsupial:
    
    def __init__(self):               #creates an empty pouch in the class Marsupial      
        self.pouch = []
        
    def put_in_pouch(self,items):      #function to add new items in the pouch created inside the class
        self.pouch.append(items)      #adds items into the pouch created inside class
        
    def pouch_contents(self):         #function to return the items added to the pouch inside class self
        return self.pouch

m = Marsupial()         #using the function to add doll, firetruck, and kitten inside the pouch created in the class

m.put_in_pouch('doll') 
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
    
#declaring a subclass    
class Kangaroo(Marsupial):             #subclass Kangaroo taking attributes of class Marsupial
    
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x = self.x + dx
        self.y = self.y + dy
        
    def _str_(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)      
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

<__main__.Kangaroo object at 0x000001B2FB897EB0>
['doll', 'firetruck', 'kitten']
<__main__.Kangaroo object at 0x000001B2FB897EB0>

# Question 4

In [12]:
def collatz(x):
        print(x)
        while x != 1:             #when x is greater than 1
            
            if x % 2 == 1:        #if x is odd
                x = (3 * x + 1)   #x is to an even number
            
            else: 
                x = (x/2)         #if x is even
                print(int(x))
            
collatz(1)
collatz(10)

1
10
5
8
4
2
1

# Question 5

In [6]:
def binary(n):
    if n < 0:
        print('Positive integers')
    elif n == 0:
        return 0
    else:
        bin = ''                       #empty/null string binary
        while n >= 1:                  #when n is greater than or equal to 1
            remainder = str((n % 2))
            bin = remainder + bin
            n = n // 2
        return int(bin)                #return the integer of string binary

binary(0) 
binary(1)
binary(3) 
binary(9)

1001

# Question 6

In [39]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):   #definition of a class named HeadingParser that gets attributes from HTMLParser
    def __init__(self):
        HTMLParser.__init__(self)
        self.start = False
        self.header = ''
    
    def handle_starttag(self, tag, attrs):   #calls and checks if tag is a heading tag
        if len(tag) == 2:
            if tag[:1] == 'h':
                self.start = True
                self.header = tag
    
    def handle_data(self, data):             #checking for level of indentation based on heading and prints 
        if self.start == True:
            if data.strip():
                indt = int(self.header[1:])-1
                print(' '*indt + data)

infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7

In [48]:
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):

    def __init__(self, url):

        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        if tag == 'h1' or tag == 'h2':
            self.headers.append(tag)

                        
    def webdir(url):
        with urlopen(url) as response:

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'2,0)

IndentationError: expected an indented block (2184875169.py, line 22)

# Question 8

In [3]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\u\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in c:\users\u\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: six in c:\users\u\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\u\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\u\anaconda3\lib\site-packages (from ipython-sql) (1.4.39)
Requirement already satisfied: sqlparse in c:\users\u\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: prettytable<1 in c:\users\u\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: matplotlib-inline in c:\users\u\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=4.2 in c:\users\u\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\u\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\u\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\u\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\u\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\u\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (63.4.1)
Requirement already satisfied: decorator in c:\users\u\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments in c:\users\u\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in c:\users\u\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\u\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\u\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\u\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [10]:
%reload_ext sql

In [17]:
%%sql sqlite:// 
    
    DROP TABLE IF EXISTS Weather;
    
    CREATE TABLE IF NOT EXISTS Weather(
    City varchar(15),
    Country varhcar(15),
    Season varchar(15),
    Temperature float,
    Rainfall float);

Done.
Done.

[]

In [19]:
%%sql 
INSERT INTO Weather VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5),
('Cairo', 'Egypt', 'Summer', 27.7,0.1),
('Cairo', 'Egypt', 'Fall', 22.2,4.5);

 * sqlite://
12 rows affected.

[]

In [20]:
%%sql
# a - get all temperature data
SELECT Temperature
FROM Weather;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [21]:
%%sql
# b - Unique city names
SELECT DISTINCT city
FROM Weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [22]:
%%sql
# c - all records of India
SELECT *
FROM Weather
WHERE Country LIKE 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [26]:
%%sql
# d - all Fall records
SELECT *
FROM Weather
WHERE Season LIKE 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [27]:
%%sql
# e - city with average rainfall between 200 and 400 millimeters
SELECT City, Country, Season
FROM Weather
WHERE Rainfall >= 200 AND Rainfall <=400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

In [31]:
%%sql
# f - city with average temperature above 20 degrees in ascending order
SELECT city, Country
FROM Weather
WHERE Temperature > 20 AND Season LIKE 'Fall'
ORDER BY Temperature;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [32]:
%%sql
# g - total annual rainfall for Cairo
SELECT SUM(Rainfall) AS Total_Annual_Rainfall
FROM Weather
WHERE City LIKE 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [33]:
%%sql
# h - total rainfall for each season
SELECT  Season, SUM(Rainfall) AS Total_Annual_Rainfall
FROM Weather
GROUP BY Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

In [10]:
# a: convert list to uppercase
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([x.upper() for x in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [22]:
# b: convert list to lowercase
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([x.lower() for x in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [9]:
# c: list of lenght of words in list words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([len(x) for x in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [14]:
# d: print new list of 4 or more letter
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([x for x in words if len(x) >= 4])

['quick', 'brown', 'jumps', 'over', 'lazy']

In [15]:
# e: print containing list uppercae, lowercase and lenght os strings in list
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print( [[x.upper(), x.lower(), len(x)] for x in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]